#board {
    padding-top: 3em;
    text-align: center ;
    width: 308px;
    clear: both;
}
 
.row div {  
    height: 100px;
    width: 100px;
    float: left;
}

.topleft {
    border: 1px black solid;    font-size: 400%;   color:blue;    
}   

.topmid {
    border: 1px black solid;    font-size: 400%;    color:blue;
    }

.topright {
    border: 1px black solid;    font-size: 400%;    color:blue;
}
   
.midleft {
    border: 1px black solid;    font-size: 400%;    color:blue;
}

.center {
    border: 1px black solid;    font-size: 400%;    color:blue;
}   

.midright {
    border: 1px black solid;    font-size: 400%;    color:blue;
}   

.bottomleft {
    border: 1px black solid;    font-size: 400%;    color:blue;
} 

.bottommid {
    border: 1px black solid;    font-size: 400%;    color:blue;
}

.bottomright {
    border: 1px black solid;    font-size: 400%;    color:blue;
}
